Repository open-component-model/open-component-model, pull requests merged in 2025-10, with the labels that each got.

#972 fix(ci): update go_modules task to use interleaved output
  .github/workflows/ci.yml
Labels: size/xs, component/github-actions, kind/bugfix

#967 chore(docs): add ADR for monorepo versioning, branching, and release strategy
  .github/config/wordlist.txt
  docs/adr/0010_release_strategy.md
Labels: kind/chore, size/m, component/github-actions, area/documentation

#945 chore: columnar output combined with the visual tree hierarchy
  cli/cmd/cmd_test.go
  cli/cmd/get/component-version/cmd.go
  cli/internal/render/graph/tree/renderer.go
  cli/internal/render/graph/tree/renderer_options.go
  cli/internal/render/graph/tree/renderer_test.go
  cli/internal/render/graph/tree/serializer.go
  cli/internal/render/graph/tree/serializer_options.go
  cli/internal/render/graph/tree/style.go
Labels: kind/chore, size/m

#938 chore(docs): update SIG creation process
  docs/community/SIGs/SIG-Handbook.md
  docs/community/SIGs/SIG-Submission-Template.md
Labels: kind/chore, size/s, component/github-actions, area/documentation

#963 feat(oci): enhance repository provider with user agent, temp dir, and caching support
  bindings/go/oci/ctf/store.go
  bindings/go/oci/ctf/store_test.go
  bindings/go/oci/go.mod
  bindings/go/oci/go.sum
  bindings/go/oci/integration/go.mod
  bindings/go/oci/integration/go.sum
  bindings/go/oci/internal/lister/lister.go
  bindings/go/oci/repository/provider/credential_cache.go
  bindings/go/oci/repository/provider/options.go
  bindings/go/oci/repository/provider/provider.go
  bindings/go/oci/repository/provider/provider_test.go
  bindings/go/oci/repository/provider/store_cache.go
  bindings/go/oci/repository/repository.go
Labels: kind/feature, size/m

#965 fix(cli): multi ctf repo race
  cli/go.mod
  cli/go.sum
  cli/integration/add_component_version_integration_test.go
  cli/integration/download_resource_integration_test.go
  cli/integration/go.mod
  cli/integration/go.sum
  cli/integration/signing_integration_test.go
  cli/internal/plugin/builtin/builtin.go
  cli/internal/plugin/builtin/ctf/plugin.go
  cli/internal/plugin/builtin/oci/component_version_repository.go
  cli/internal/plugin/builtin/oci/register.go
Labels: size/m, kind/bugfix

#1007 fix: linting controller after upgrade to golangci lint 2.5.0
  kubernetes/controller/api/v1alpha1/component_types.go
  kubernetes/controller/api/v1alpha1/repository_types.go
  kubernetes/controller/api/v1alpha1/resource_types.go
  kubernetes/controller/internal/ocm/descriptors.go
  kubernetes/controller/test/utils/utils.go
Labels: size/s, kind/bugfix

#1012 feat(construct): add external component version policy to handle references
  bindings/go/constructor/construct_test.go
  bindings/go/constructor/options.go
  bindings/go/constructor/processor.go
Labels: kind/feature, size/m

#1027 fix(renovate): update schedule and minimum release age settings and fixup automerge
  .github/renovate.json5
Labels: size/s, component/github-actions, kind/bugfix
