Repository open-component-model/open-component-model, pull requests merged in 2025-06, with the labels that each got.

#214 fix: make it so that locations without plugins don't generate warning messages
  cli/cmd/setup.go
  cli/go.mod
  cli/go.sum
  cli/internal/plugin/builtin/ctf/plugin.go
  cli/internal/plugin/builtin/oci/plugin.go
Labels: size/s, kind/bugfix

#220 feat: allow access to all registered types in the scheme
  bindings/go/runtime/registry.go
  bindings/go/runtime/registry_test.go
Labels: kind/feature, size/m

#222 fix: default log level to info
  cli/cmd/cmd.go
  cli/cmd/generate/docs/cmd.go
  cli/cmd/get/component-version/cmd.go
  cli/cmd/internal/test/test.go
  cli/internal/flag/enum/flag.go
  cli/internal/flag/log/flag.go
  cli/internal/flag/log/flag_test.go
  docs/reference/cli/ocm_completion.md
  docs/reference/cli/ocm_completion_bash.md
  docs/reference/cli/ocm_completion_fish.md
  docs/reference/cli/ocm_completion_powershell.md
  docs/reference/cli/ocm_completion_zsh.md
  docs/reference/cli/ocm_generate.md
  docs/reference/cli/ocm_generate_docs.md
  docs/reference/cli/ocm_get.md
  docs/reference/cli/ocm_get_component-version.md
Labels: size/s, area/documentation, kind/bugfix

#223 fix: implemented repeated read through ReadSeeker interface and automatic seek back
  bindings/go/blob/buffered_reader.go
  bindings/go/blob/buffered_reader_test.go
Labels: size/m, kind/bugfix

#224 feat: introduce not found error for oci bindings
  bindings/go/oci/go.mod
  bindings/go/oci/go.sum
  bindings/go/oci/integration/go.mod
  bindings/go/oci/integration/go.sum
  bindings/go/oci/integration/integration_test.go
  bindings/go/oci/interface.go
  bindings/go/oci/repository.go
  bindings/go/oci/repository_test.go
  bindings/go/oci/tar/descriptor_io_test.go
Labels: kind/feature, size/m

#228 feat: component version repository provider
  bindings/go/oci/doc.go
  bindings/go/oci/integration/integration_test.go
  bindings/go/oci/repository/provider/credential_cache.go
  bindings/go/oci/repository/provider/credential_cache_test.go
  bindings/go/oci/repository/provider/doc.go
  bindings/go/oci/repository/provider/interface.go
  bindings/go/oci/repository/provider/oci_cache.go
  bindings/go/oci/repository/provider/provider.go
  bindings/go/oci/repository/provider/provider_test.go
  bindings/go/oci/repository/repository.go
  bindings/go/oci/repository_options.go
  bindings/go/oci/spec/credentials/identity/v1/type.go
  bindings/go/oci/spec/credentials/identity/v1/type_test.go
Labels: kind/feature, size/l

#232 fix: correct resource contract
  bindings/go/plugin/internal/testplugin-resource/main.go
  bindings/go/plugin/manager/contracts/resource/v1/contracts.go
  bindings/go/plugin/manager/contracts/resource/v1/types.go
  bindings/go/plugin/manager/manager.go
  bindings/go/plugin/manager/registries/resource/endpoints_function.go
  bindings/go/plugin/manager/registries/resource/endpoints_function_test.go
  bindings/go/plugin/manager/registries/resource/implementations.go
  bindings/go/plugin/manager/registries/resource/implementations_test.go
  bindings/go/plugin/manager/registries/resource/registry_test.go
  bindings/go/plugin/manager/types/types.go
Labels: size/s, kind/bugfix

#234 fix: move locataion ownership from response to request for adding resources
  bindings/go/plugin/manager/contracts/resource/v1/types.go
  bindings/go/plugin/manager/registries/resource/implementations.go
Labels: size/s, kind/bugfix

#235 fix: fixup conflict resolution strategy for component constructors
  bindings/go/constructor/construct.go
  bindings/go/constructor/construct_resource_test.go
  bindings/go/constructor/construct_source_test.go
  bindings/go/constructor/construct_test.go
Labels: size/s, size/m, kind/bugfix

#226 chore!: refactor memory blob implementation
  bindings/go/blob/buffered_reader.go
  bindings/go/blob/buffered_reader_test.go
  bindings/go/blob/direct_blob.go
  bindings/go/blob/direct_blob_test.go
  bindings/go/blob/inmemory/blob.go
  bindings/go/blob/inmemory/blob_test.go
  bindings/go/blob/inmemory/options.go
Labels: kind/chore, size/l, !BREAKING-CHANGE!

#239 feat: add converter for the resource registry
  bindings/go/plugin/internal/testplugin-resource/main.go
  bindings/go/plugin/manager/registries/resource/contract.go
  bindings/go/plugin/manager/registries/resource/registry.go
  bindings/go/plugin/manager/registries/resource/registry_test.go
  bindings/go/plugin/manager/registries/resource/resource_converter.go
Labels: kind/feature, size/m

#243 fix: bump deps & correct tagging behavior in OCI CTF repositories
  bindings/go/oci/blob/update_test.go
  bindings/go/oci/ctf/store_test.go
  bindings/go/oci/go.mod
  bindings/go/oci/go.sum
  bindings/go/oci/integration/go.mod
  bindings/go/oci/integration/go.sum
  bindings/go/oci/integration/integration_test.go
  bindings/go/oci/repository_test.go
  bindings/go/oci/tar/blob_io.go
Labels: size/s, kind/bugfix

#246 fix: correct lookup for digest processor plugins
  bindings/go/plugin/manager/registries/digestprocessor/registry.go
Labels: size/s, kind/bugfix

#254 fix: support for aliases used in OCM CLI V1
  cli/cmd/get/component-version/cmd.go
Labels: size/xs, kind/bugfix

#251 feat: constructor callbacks
  bindings/go/constructor/construct.go
  bindings/go/constructor/construct_callbacks_test.go
  bindings/go/constructor/options.go
Labels: kind/feature, size/m

#248 feat!: make referrer indexes and lookup optional and disable by default
  bindings/go/oci/integration/integration_test.go
  bindings/go/oci/internal/lister/lister.go
  bindings/go/oci/repository.go
  bindings/go/oci/repository/repository.go
  bindings/go/oci/repository_options.go
  bindings/go/oci/resolver/url/options.go
  bindings/go/oci/resolver/url/resolver.go
  bindings/go/oci/resolver/url/resolver_test.go
  bindings/go/oci/spec/index/component/v1/index.go
  bindings/go/oci/store_descriptor.go
Labels: kind/feature, size/m, !BREAKING-CHANGE!

#257 fix!: size was originally never an attribute, lets remove it
  bindings/go/descriptor/v2/descriptor.go
  bindings/go/descriptor/v2/descriptor_test.go
Labels: size/xs, kind/bugfix, !BREAKING-CHANGE!

#256 feat: introduce oci backed resource digest processor
  bindings/go/oci/ctf/store.go
  bindings/go/oci/ctf/store_test.go
  bindings/go/oci/integration/integration_test.go
  bindings/go/oci/interface.go
  bindings/go/oci/internal/digest/digest.go
  bindings/go/oci/repository.go
  bindings/go/oci/repository_test.go
Labels: kind/feature, size/m

#258 fix: allow arbitrary raw json/yaml structures in label values and accept a version field
  .github/config/golangci.yml
  bindings/go/descriptor/v2/descriptor.go
  bindings/go/descriptor/v2/descriptor_test.go
  bindings/go/descriptor/v2/resources/schema-2020-12.json
  bindings/go/descriptor/v2/zz_generated.deepcopy.go
Labels: size/m, component/github-actions, kind/bugfix

#264 chore!: bump OCI package to latest ctf and descriptor runtime (remove size)
  bindings/go/oci/blob/artifact_blob.go
  bindings/go/oci/blob/artifact_blob_test.go
  bindings/go/oci/blob/update.go
  bindings/go/oci/blob/update_test.go
  bindings/go/oci/go.mod
  bindings/go/oci/go.sum
  bindings/go/oci/integration/go.mod
  bindings/go/oci/integration/go.sum
  bindings/go/oci/integration/integration_test.go
  bindings/go/oci/internal/pack/pack_test.go
  bindings/go/oci/repository.go
  bindings/go/oci/repository/provider/provider_test.go
Labels: kind/chore, size/m, !BREAKING-CHANGE!

#270 chore(deps): bump normalisation to v2.0.0-alpha2
  bindings/go/descriptor/normalisation/go.mod
  bindings/go/descriptor/normalisation/go.sum
Labels: kind/chore, size/s, kind/dependency

#271 chore: apply latest versions to the CLI module
  cli/cmd/cmd_test.go
  cli/cmd/get/component-version/encode.go
  cli/go.mod
  cli/go.sum
  cli/internal/plugin/builtin/ctf/plugin.go
  cli/internal/plugin/builtin/oci/plugin.go
  cli/internal/repository/ocm/repository.go
Labels: kind/chore, size/s, size/m

#281 fix: the mock was causing concurrent map access
  bindings/go/constructor/construct_test.go
Labels: size/s, kind/bugfix

#282 fix: remove this todo because the type is passed in
  bindings/go/plugin/manager/registries/componentversionrepository/handlers.go
Labels: size/xs, kind/bugfix

#252 feat: implement contract wrapper for component version registry
  bindings/go/plugin/go.mod
  bindings/go/plugin/go.sum
  bindings/go/plugin/internal/testplugin-component-version/main.go
  bindings/go/plugin/manager/contracts/ocmrepository/v1/contracts.go
  bindings/go/plugin/manager/contracts/ocmrepository/v1/types.go
  bindings/go/plugin/manager/manager_test.go
  bindings/go/plugin/manager/registries/blobs/blobs.go
  bindings/go/plugin/manager/registries/blobs/blobs_test.go
  bindings/go/plugin/manager/registries/componentversionrepository/contract.go
  bindings/go/plugin/manager/registries/componentversionrepository/converter.go
  bindings/go/plugin/manager/registries/componentversionrepository/doc.go
  bindings/go/plugin/manager/registries/componentversionrepository/endpoints_function.go
  bindings/go/plugin/manager/registries/componentversionrepository/endpoints_function_test.go
  bindings/go/plugin/manager/registries/componentversionrepository/handlers.go
  bindings/go/plugin/manager/registries/componentversionrepository/implementations.go
  bindings/go/plugin/manager/registries/componentversionrepository/implementations_test.go
  bindings/go/plugin/manager/registries/componentversionrepository/registry.go
  bindings/go/plugin/manager/registries/componentversionrepository/registry_test.go
  bindings/go/plugin/manager/registries/componentversionrepository/typed_conversion.go
  bindings/go/plugin/manager/registries/input/resource_input_converter.go
  bindings/go/plugin/manager/registries/input/source_input_converter.go
  bindings/go/plugin/manager/registries/resource/registry_test.go
  bindings/go/plugin/manager/registries/resource/resource_converter.go
Labels: kind/feature, size/m, size/l

#277 fix: proper tag listing
  bindings/go/oci/internal/lister/component/component_versions.go
  bindings/go/oci/internal/lister/component/component_versions_test.go
  bindings/go/oci/internal/lister/lister.go
  bindings/go/oci/repository.go
  bindings/go/oci/spec/annotations/annotations.go
  bindings/go/oci/spec/annotations/annotations_test.go
Labels: size/m, kind/bugfix

#284 feat: update the cli to use the latest plugin package
  cli/go.mod
  cli/go.sum
  cli/internal/plugin/builtin/ctf/plugin.go
  cli/internal/plugin/builtin/oci/plugin.go
  cli/internal/repository/ocm/repository.go
Labels: kind/feature, size/m

#291 fix: resolve to correct value in case of empty mediatype
  bindings/go/oci/ctf/store.go
  bindings/go/oci/ctf/store_test.go
  bindings/go/oci/ctf/testdata/compatibility/01/component-constructor.yaml
  bindings/go/oci/ctf/testdata/compatibility/01/transport-archive.tar
  bindings/go/oci/ctf/testdata/compatibility/01/transport-archive.tar.gz
  bindings/go/oci/ctf/testdata/compatibility/01/transport-archive/artifact-index.json
  bindings/go/oci/ctf/testdata/compatibility/01/transport-archive/blobs/sha256.2baf8ddb61e330b305ace78703681cf935f96ca8b59393c5eb72a83c92969ecc
  bindings/go/oci/ctf/testdata/compatibility/01/transport-archive/blobs/sha256.6d776ef2c9c156ca260a67b335435f4ef20a1c8e777afee89148b06d5688e753
  bindings/go/oci/ctf/testdata/compatibility/01/transport-archive/blobs/sha256.7164be671f47d4f2b427363b3efd144c2705219e5046d23a28a181ce602cf152
  bindings/go/oci/ctf/testdata/compatibility/01/transport-archive/blobs/sha256.9f86d081884c7d659a2feaa0c55ad015a3bf4f1b2b0b822cd15d6c15b0f00a08
  bindings/go/oci/ctf/testdata/compatibility/README.md
Labels: size/s, kind/bugfix

#292 feat: support for `+` in cv versions
  bindings/go/oci/ctf/store.go
  bindings/go/oci/integration/integration_test.go
  bindings/go/oci/repository.go
  bindings/go/oci/resolver/url/resolver.go
  bindings/go/oci/semver_tag.go
Labels: size/s, kind/feature

#301 fix: concurrent intermediary step to ensure we install once and then run concurrently
  cli/cmd/generate/cmd.go
  tools.Taskfile.yml
Labels: size/s, kind/bugfix
