Repository open-component-model/open-component-model, pull requests merged in 2025-03, with the labels that each got.

#2 chore: dynamic discovery of modules
  .github/config/labeler.yml
  .github/workflows/codeql.yml
  .github/workflows/unit-test.yml
Labels: kind/chore, size/s

#4 chore: go module discovery fixup
  .github/workflows/unit-test.yml
Labels: kind/chore, size/s, component/github-actions

#6 chore: fixing up codeql
  .github/workflows/codeql.yml
Labels: kind/chore, size/s, component/github-actions

#8 chore: setup markdown linting
  .github/config/markdown-link-check.json
  .github/config/markdownignore
  .github/config/markdownlint.yml
  .github/config/spellcheck.yml
  .github/config/wordlist.txt
  .github/workflows/markdown.yml
Labels: kind/chore, size/m, component/github-actions

#10 feat: runtime package
  .gitignore
  Taskfile.yml
  bindings/go/runtime/Taskfile.yml
  bindings/go/runtime/go.mod
  bindings/go/runtime/go.sum
  bindings/go/runtime/raw.go
  bindings/go/runtime/registry.go
  bindings/go/runtime/registry_test.go
  bindings/go/runtime/type.go
  bindings/go/runtime/type_test.go
  bindings/go/runtime/unstructured.go
Labels: kind/feature, component/github-actions, size/l

#13 fix: package name from golang to go
  bindings/go/runtime/go.mod
  bindings/go/runtime/type_test.go
Labels: size/xs, kind/bugfix

#12 chore(ci): introduce linting via golangci-lint
  .github/config/golangci.yml
  .github/workflows/ci.yml
  .github/workflows/codeql.yml
  .github/workflows/unit-test.yml
  bindings/go/descriptor/descriptor_test.go
Labels: kind/chore, size/m, component/github-actions

#17 feat: introduce runtime identities for usage in OCM
  bindings/go/runtime/identity.go
  bindings/go/runtime/identity_match.go
  bindings/go/runtime/identity_match_test.go
  bindings/go/runtime/identity_test.go
Labels: kind/feature, component/github-actions, size/l

#19 chore: generate per module
  .github/workflows/ci.yml
Labels: kind/chore, size/s, component/github-actions

#18 feat: blob + filesystem abstraction
  Taskfile.yml
  bindings/go/blob/Taskfile.yml
  bindings/go/blob/blob.go
  bindings/go/blob/buffered_reader.go
  bindings/go/blob/buffered_reader_test.go
  bindings/go/blob/direct_blob.go
  bindings/go/blob/direct_blob_test.go
  bindings/go/blob/doc.go
  bindings/go/blob/filesystem/doc.go
  bindings/go/blob/filesystem/file.go
  bindings/go/blob/filesystem/file_blob.go
  bindings/go/blob/filesystem/file_blob_test.go
  bindings/go/blob/filesystem/file_test.go
  bindings/go/blob/filesystem/file_unix_test.go
  bindings/go/blob/filesystem/filesystem.go
  bindings/go/blob/filesystem/filesystem_test.go
  bindings/go/blob/go.mod
  bindings/go/blob/go.sum
  bindings/go/blob/tar.go
  bindings/go/blob/tar_test.go
Labels: kind/feature, size/l

#23 chore: fixup dependabot config
  .github/dependabot.yml
Labels: kind/chore, size/s, component/github-actions, kind/dependency

#20 feat: add descriptor package
  bindings/go/descriptor/README.md
  bindings/go/descriptor/descriptor.go
  bindings/go/descriptor/descriptor_test.go
  bindings/go/descriptor/doc.go
  bindings/go/descriptor/go.mod
  bindings/go/descriptor/go.sum
  bindings/go/descriptor/local_access.go
  bindings/go/descriptor/scheme.go
Labels: kind/feature, size/m

#26 fix: Taskfile pointing to an incorrect location
  Taskfile.yml
Labels: size/xs, kind/bugfix

#27 fix: fixup task include
  Taskfile.yml
Labels: size/xs, kind/bugfix

#28 fix: introduce CI failure check
  .github/workflows/ci.yml
Labels: size/s, component/github-actions, kind/bugfix

#29 fix: use original k8s deep copy gen for core runtime
  REUSE.toml
  Taskfile.yml
  bindings/go/generator/ocmtypegen/test/zz_generated.deepcopy.go
  bindings/go/runtime/deep_copy_json.go
  bindings/go/runtime/deep_copy_json_test.go
  bindings/go/runtime/identity.go
  bindings/go/runtime/raw.go
  bindings/go/runtime/registry.go
  bindings/go/runtime/type.go
  bindings/go/runtime/unstructured.go
  bindings/go/runtime/unstructured_test.go
  bindings/go/runtime/zz_generated.deepcopy.go
  tools.Taskfile.yml
Labels: size/m, kind/bugfix

#31 chore: first maintenance round of descriptor v2
  REUSE.toml
  bindings/go/descriptor/v2/descriptor.go
  bindings/go/descriptor/v2/descriptor_test.go
  bindings/go/descriptor/v2/go.mod
  bindings/go/descriptor/v2/go.sum
  bindings/go/descriptor/v2/time.go
  bindings/go/descriptor/v2/time_test.go
  bindings/go/descriptor/v2/zz_generated.deepcopy.go
Labels: kind/chore, size/l

#32 fix: fixup module path for descriptor
  bindings/go/descriptor/v2/descriptor.go
  bindings/go/descriptor/v2/descriptor_test.go
  bindings/go/descriptor/v2/doc.go
  bindings/go/descriptor/v2/go.mod
  bindings/go/descriptor/v2/local_access.go
  bindings/go/descriptor/v2/scheme.go
  bindings/go/descriptor/v2/time.go
  bindings/go/descriptor/v2/time_test.go
  bindings/go/descriptor/v2/zz_generated.deepcopy.go
Labels: size/m, kind/bugfix

#22 feat: Common Transport Format Library support
  Taskfile.yml
  bindings/go/ctf/Taskfile.yml
  bindings/go/ctf/artifact_set.go
  bindings/go/ctf/cas_file_blob.go
  bindings/go/ctf/ctf.go
  bindings/go/ctf/ctf_compatibility_test.go
  bindings/go/ctf/ctf_test.go
  bindings/go/ctf/ctx_reader.go
  bindings/go/ctf/ctx_reader_test.go
  bindings/go/ctf/doc.go
  bindings/go/ctf/filesystem_ctf.go
  bindings/go/ctf/go.mod
  bindings/go/ctf/go.sum
  bindings/go/ctf/index/v1/index.go
  bindings/go/ctf/index/v1/versioned.go
  bindings/go/ctf/tar.go
  bindings/go/ctf/tar_test.go
  bindings/go/ctf/testdata/compatibility/01/component-constructor.yaml
  bindings/go/ctf/testdata/compatibility/01/transport-archive.tar
  bindings/go/ctf/testdata/compatibility/01/transport-archive.tar.gz
  bindings/go/ctf/testdata/compatibility/01/transport-archive/artifact-index.json
  bindings/go/ctf/testdata/compatibility/01/transport-archive/blobs/sha256.2baf8ddb61e330b305ace78703681cf935f96ca8b59393c5eb72a83c92969ecc
  bindings/go/ctf/testdata/compatibility/01/transport-archive/blobs/sha256.6d776ef2c9c156ca260a67b335435f4ef20a1c8e777afee89148b06d5688e753
  bindings/go/ctf/testdata/compatibility/01/transport-archive/blobs/sha256.7164be671f47d4f2b427363b3efd144c2705219e5046d23a28a181ce602cf152
  bindings/go/ctf/testdata/compatibility/01/transport-archive/blobs/sha256.9f86d081884c7d659a2feaa0c55ad015a3bf4f1b2b0b822cd15d6c15b0f00a08
  bindings/go/ctf/testdata/compatibility/02/component-constructor.yaml
  bindings/go/ctf/testdata/compatibility/02/with-resource/artifact-index.json
  bindings/go/ctf/testdata/compatibility/02/with-resource/blobs/sha256.211c2fdfb1dcb911a391c824dd41b97cf52c0c7396f3b5d5ad02dc0e2253218b
  bindings/go/ctf/testdata/compatibility/02/with-resource/blobs/sha256.32aacda7b64939ff7ace455250d3fcefae2c1ba413252b1e2690440f54c13eed
  bindings/go/ctf/testdata/compatibility/02/with-resource/blobs/sha256.da4d93b2c00c3f2c3946e120adff15a2f9a7a5bb15a5109691e0f6492a0058c9
  bindings/go/ctf/testdata/compatibility/02/with-resource/blobs/sha256.e40e3a2f1ab1a98328dfd14539a79d27aff5c4d5c34cd16a85f0288bfa76490b
  bindings/go/ctf/testdata/compatibility/02/without-resource/artifact-index.json
  bindings/go/ctf/testdata/compatibility/02/without-resource/blobs/sha256.517303a88bf75e59271180ab754ed228b61de739f553ca2f33be671bdf034654
  bindings/go/ctf/testdata/compatibility/02/without-resource/blobs/sha256.59b5d947b7b19bc579087cd504af2548bfa6e63a260f7c4f5b3aa8db8dff8dba
  bindings/go/ctf/testdata/compatibility/02/without-resource/blobs/sha256.cb36198f6d90bc80826a79acfc1d88ee8d7af76882ed8e5f2e4a05e559f8c921
  bindings/go/ctf/testdata/compatibility/README.md
  tools.Taskfile.yml
Labels: kind/feature, size/l

#33 fix: allow bidirectional raw conversion due to switch away from interface
  bindings/go/generator/Taskfile.yml
  bindings/go/generator/go.mod
  bindings/go/generator/ocmtypegen/doc.go
  bindings/go/generator/ocmtypegen/main.go
  bindings/go/generator/ocmtypegen/main_test.go
  bindings/go/generator/ocmtypegen/test/type.go
  bindings/go/generator/ocmtypegen/test/zz_generated.ocm_type.go
  bindings/go/generator/ocmtypegen/test/zz_generated.type.ocm.software.go
  bindings/go/runtime/identity.go
  bindings/go/runtime/raw.go
  bindings/go/runtime/raw_test.go
  bindings/go/runtime/registry.go
  bindings/go/runtime/registry_convert_test.go
  bindings/go/runtime/registry_test.go
  bindings/go/runtime/type.go
  bindings/go/runtime/unstructured.go
Labels: kind/bugfix, size/l

#39 fix: makes sure that we have env precedence enabled
  .env
Labels: size/xs, kind/bugfix

#38 fix: make sure that type generation on local blob access is fine
  bindings/go/descriptor/v2/go.mod
  bindings/go/descriptor/v2/go.sum
  bindings/go/descriptor/v2/local_access.go
  bindings/go/descriptor/v2/local_access_test.go
  bindings/go/descriptor/v2/zz_generated.deepcopy.go
  bindings/go/descriptor/v2/zz_generated.ocm_type.go
Labels: size/m, kind/bugfix

#40 feat: setup go workspace
  .github/workflows/ci.yml
  .gitignore
  Taskfile.yml
  bindings/go/blob/go.mod
  bindings/go/blob/go.sum
  bindings/go/ctf/go.mod
  bindings/go/ctf/go.sum
  bindings/go/descriptor/v2/go.mod
  bindings/go/descriptor/v2/go.sum
  bindings/go/generator/go.mod
  bindings/go/generator/go.sum
  bindings/go/runtime/go.mod
  bindings/go/runtime/go.sum
  go.work
  go.work.sum
Labels: kind/feature, component/github-actions, size/l

#41 feat(revert): setup go workspace (#40)
  .github/workflows/ci.yml
  .gitignore
  Taskfile.yml
  bindings/go/blob/go.mod
  bindings/go/blob/go.sum
  bindings/go/ctf/go.mod
  bindings/go/ctf/go.sum
  bindings/go/descriptor/v2/go.mod
  bindings/go/descriptor/v2/go.sum
  bindings/go/generator/go.mod
  bindings/go/generator/go.sum
  bindings/go/runtime/go.mod
  bindings/go/runtime/go.sum
  go.work
  go.work.sum
Labels: kind/feature, component/github-actions, size/l

#42 chore: update SHA to call GitHub workflow
  .github/workflows/trigger-blackduck-scan.yaml
Labels: kind/chore, size/xs, component/github-actions, area/ipcei

#43 chore: change Dependabot update schedule from weekly to daily
  .github/dependabot.yml
Labels: kind/chore, component/github-actions, area/ipcei

#34 feat: introduce internal descriptor runtime
  Taskfile.yml
  bindings/go/descriptor/runtime/Taskfile.yml
  bindings/go/descriptor/runtime/convert_v2.go
  bindings/go/descriptor/runtime/descriptor.go
  bindings/go/descriptor/runtime/descriptor_test.go
  bindings/go/descriptor/runtime/doc.go
  bindings/go/descriptor/runtime/go.mod
  bindings/go/descriptor/runtime/go.sum
  bindings/go/descriptor/runtime/local_access.go
  bindings/go/descriptor/runtime/validate.go
  bindings/go/descriptor/runtime/validate_test.go
  bindings/go/descriptor/runtime/zz_generated.deepcopy.go
  bindings/go/descriptor/runtime/zz_generated.ocm_type.go
  bindings/go/oci/integration/go.sum
Labels: kind/feature, size/l

#44 chore: correct parameter from string to number
  .github/workflows/trigger-blackduck-scan.yaml
Labels: kind/chore, size/xs, component/github-actions, area/ipcei
