Repository open-component-model/open-component-model, pull requests merged in 2025-07, with the labels that each got.

#303 chore!: make sure that OCI lib expects only already converted accesses
  bindings/go/oci/internal/pack/pack.go
  bindings/go/oci/internal/pack/pack_test.go
  bindings/go/oci/repository.go
  bindings/go/oci/repository_options.go
  bindings/go/oci/repository_test.go
Labels: kind/chore, size/m, !BREAKING-CHANGE!

#306 chore(ci): disable dependabot (we already use renovate) and fix up
  .github/dependabot.yml
  renovate.json5
Labels: kind/chore, size/s, component/github-actions, kind/dependency

#289 feat: introduce file input method
  Taskfile.yml
  bindings/go/constructor/input/file/Taskfile.yml
  bindings/go/constructor/input/file/blob.go
  bindings/go/constructor/input/file/blob_test.go
  bindings/go/constructor/input/file/doc.go
  bindings/go/constructor/input/file/go.mod
  bindings/go/constructor/input/file/go.sum
  bindings/go/constructor/input/file/method.go
  bindings/go/constructor/input/file/spec/v1/spec.go
  bindings/go/constructor/input/file/spec/v1/zz_generated.deepcopy.go
  bindings/go/constructor/input/file/spec/v1/zz_generated.ocm_type.go
Labels: kind/feature, size/m, size/l

#312 fix(ci): renovate self hosted
  .github/config/renovate.json5
  .github/workflows/renovate.yml
Labels: size/s, component/github-actions, kind/bugfix

#327 chore(ci): introduce post upgrade for integration tests
  .github/config/renovate.json5
  renovate.json5
Labels: kind/chore, component/github-actions

#332 chore(ci): fixup renovate self hosted config
  .github/config/renovate.json5
  renovate.json5
Labels: size/xs

#295 feat: add healthcheck to the component version repository interface
  bindings/go/oci/ctf/store.go
  bindings/go/oci/integration/integration_test.go
  bindings/go/oci/interface.go
  bindings/go/oci/repository.go
  bindings/go/oci/repository_test.go
  bindings/go/oci/resolver/url/resolver.go
  bindings/go/oci/resolver/url/resolver_test.go
Labels: size/s, kind/feature, size/m

#357 chore(ci): replace link checker
  .github/config/linkspector.yaml
  .github/config/markdown-link-check.json
  .github/workflows/markdown.yml
Labels: kind/chore, size/s, component/github-actions

#354 feat: ocm version command
  .github/config/wordlist.txt
  cli/Taskfile.yml
  cli/cmd/cmd.go
  cli/cmd/cmd_test.go
  cli/cmd/get/component-version/cmd.go
  cli/cmd/version/legacy_version.go
  cli/cmd/version/version.go
  docs/reference/cli/ocm_version.md
Labels: kind/feature, size/m, component/github-actions, area/documentation

#373 chore(docs): makes TSC owners of ADRs and Steering Meetings
  .github/CODEOWNERS
Labels: kind/chore, size/xs, component/github-actions

#374 feat: make the base logger configurable through context
  bindings/go/oci/ctf/store.go
  bindings/go/oci/ctf/store_test.go
  bindings/go/oci/go.mod
  bindings/go/oci/go.sum
  bindings/go/oci/integration/go.mod
  bindings/go/oci/integration/go.sum
  bindings/go/oci/interface.go
  bindings/go/oci/internal/lister/lister.go
  bindings/go/oci/internal/log/logging.go
  bindings/go/oci/repository.go
  bindings/go/oci/repository_options.go
  bindings/go/oci/repository_test.go
  bindings/go/oci/resolver/url/resolver.go
  bindings/go/oci/resolver/url/resolver_test.go
  bindings/go/oci/semver_tag.go
  bindings/go/oci/store_descriptor.go
Labels: kind/feature, size/m

#379 fix: make sure to not use constructors in resource repositories
  bindings/go/plugin/manager/registries/resource/contract.go
  bindings/go/plugin/manager/registries/resource/registry_test.go
  bindings/go/plugin/manager/registries/resource/resource_converter.go
Labels: size/s, kind/bugfix

#375 feat(oci)!: introspect OCI Layouts with graph
  bindings/go/oci/integration/integration_test.go
  bindings/go/oci/interface.go
  bindings/go/oci/repository.go
  bindings/go/oci/repository_test.go
  bindings/go/oci/tar/oci_layout_tar_reader.go
  bindings/go/oci/tar/oci_layout_tar_writer.go
  bindings/go/oci/tar/top_level_artifacts.go
  bindings/go/oci/tar/top_level_artifacts_test.go
Labels: kind/feature, size/m, !BREAKING-CHANGE!

#376 chore: Change community url
  docs/community/README.md
Labels: kind/chore, size/xs, area/documentation, area/ipcei

#389 feat: add central configuration types for logging and filesystem
  bindings/go/configuration/filesystem/v1alpha1/config.go
  bindings/go/configuration/filesystem/v1alpha1/doc.go
  bindings/go/configuration/filesystem/v1alpha1/group_version.go
  bindings/go/configuration/filesystem/v1alpha1/zz_generated.deepcopy.go
  bindings/go/configuration/filesystem/v1alpha1/zz_generated.ocm_type.go
Labels: kind/feature, size/m

#391 fix: adjust to identity to omit empty name and/or version
  bindings/go/descriptor/v2/descriptor.go
  bindings/go/descriptor/v2/descriptor_test.go
Labels: size/m, kind/bugfix

#394 chore(docs): bump descriptor/v2 everywhere in monorepo
  bindings/go/blob/go.mod
  bindings/go/blob/go.sum
  bindings/go/configuration/go.sum
  bindings/go/constructor/go.mod
  bindings/go/constructor/go.sum
  bindings/go/credentials/go.sum
  bindings/go/ctf/go.mod
  bindings/go/ctf/go.sum
  bindings/go/dag/go.mod
  bindings/go/dag/go.sum
  bindings/go/descriptor/normalisation/go.mod
  bindings/go/descriptor/normalisation/go.sum
  bindings/go/generator/go.sum
  bindings/go/input/file/go.mod
  bindings/go/input/file/go.sum
  bindings/go/input/utf8/go.mod
  bindings/go/input/utf8/go.sum
  bindings/go/oci/go.mod
  bindings/go/oci/go.sum
  bindings/go/oci/integration/go.mod
  bindings/go/oci/integration/go.sum
  bindings/go/plugin/go.mod
  bindings/go/plugin/go.sum
  bindings/go/runtime/go.sum
  cli/go.mod
  cli/go.sum
Labels: kind/chore, size/m

#395 chore(ci): try to force monorepo updates directly from VCS
  .github/workflows/renovate.yml
Labels: kind/chore, size/xs, component/github-actions

#396 chore(ci): try to force monorepo updates via proxy api
  .github/workflows/renovate.yml
  tools.Taskfile.yml
Labels: kind/chore, size/s, component/github-actions

#397 chore(ci): try to force monorepo updates via proxy api
  .github/workflows/renovate.yml
  tools.Taskfile.yml
Labels: kind/chore, size/s, component/github-actions

#400 chore(ci): try to force monorepo updates via proxy api
  .github/config/renovate.json5
Labels: kind/chore, size/xs, component/github-actions

#402 chore(ci): try to force monorepo updates via proxy api
  .github/config/renovate.json5
  renovate.json5
Labels: kind/chore, size/xs, component/github-actions

#404 feat!: add configuration option to CTFs
  bindings/go/ctf/ctf.go
  bindings/go/ctf/ctf_compatibility_test.go
  bindings/go/ctf/ctf_test.go
  bindings/go/ctf/go.mod
  bindings/go/ctf/go.sum
  bindings/go/ctf/tar_test.go
Labels: kind/feature, size/m, !BREAKING-CHANGE!

#406 feat: add configuration option to OCI package
  bindings/go/oci/go.mod
  bindings/go/oci/go.sum
  bindings/go/oci/integration/go.mod
  bindings/go/oci/integration/go.sum
  bindings/go/oci/repository.go
  bindings/go/oci/repository/repository.go
  bindings/go/oci/repository_options.go
Labels: size/s, kind/feature

#403 feat(resolvers): adapt ocm v1 resolver behaviour
  Taskfile.yml
  bindings/go/repositories/Taskfile.yml
  bindings/go/repositories/artifactrepository/interface.go
  bindings/go/repositories/componentrepository/fallback/v1/doc.go
  bindings/go/repositories/componentrepository/fallback/v1/repository.go
  bindings/go/repositories/componentrepository/fallback/v1/repository_test.go
  bindings/go/repositories/componentrepository/interface.go
  bindings/go/repositories/componentrepository/resolver/config/v1/doc.go
  bindings/go/repositories/componentrepository/resolver/config/v1/runtime/config.go
  bindings/go/repositories/componentrepository/resolver/config/v1/runtime/convert_v1.go
  bindings/go/repositories/componentrepository/resolver/config/v1/runtime/doc.go
  bindings/go/repositories/componentrepository/resolver/config/v1/runtime/merge.go
  bindings/go/repositories/componentrepository/resolver/config/v1/runtime/zz_generated.deepcopy.go
  bindings/go/repositories/componentrepository/resolver/config/v1/runtime/zz_generated.ocm_type.go
  bindings/go/repositories/componentrepository/resolver/config/v1/spec/config.go
  bindings/go/repositories/componentrepository/resolver/config/v1/spec/zz_generated.deepcopy.go
  bindings/go/repositories/componentrepository/resolver/config/v1/spec/zz_generated.ocm_type.go
  bindings/go/repositories/doc.go
  bindings/go/repositories/go.mod
  bindings/go/repositories/go.sum
Labels: kind/feature, size/l

#411 chore(ci): add OpenSSF Scorecard Supply Chain Results
  .github/workflows/openssf-scorecard.yml
Labels: kind/chore, size/s, component/github-actions

#418 chore(ci): make sure that sarif scan is allowed and does not use OCM token
  .github/workflows/openssf-scorecard.yml
Labels: kind/chore, size/s, component/github-actions

#419 fix(oci): adjust oci to be able to deal ocm v1 oci manifests of ocm components
  bindings/go/oci/internal/fetch/fetch.go
  bindings/go/oci/internal/fetch/fetch_test.go
  bindings/go/oci/repository_test.go
Labels: kind/feature, size/m, kind/bugfix

#423 feat(repositories): switch from error type to error instance for easier error checks
  bindings/go/repositories/componentrepository/fallback/v1/repository.go
  bindings/go/repositories/componentrepository/interface.go
Labels: size/s, kind/feature

#427 fix: make sure that the correct method is used for slogcontext
  bindings/go/oci/repository.go
Labels: size/s, kind/bugfix

#352 feat: `dir` input method
  Taskfile.yml
  bindings/go/input/dir/Taskfile.yml
  bindings/go/input/dir/blob.go
  bindings/go/input/dir/blob_test.go
  bindings/go/input/dir/doc.go
  bindings/go/input/dir/go.mod
  bindings/go/input/dir/go.sum
  bindings/go/input/dir/method.go
  bindings/go/input/dir/spec/v1/spec.go
  bindings/go/input/dir/spec/v1/zz_generated.deepcopy.go
  bindings/go/input/dir/spec/v1/zz_generated.ocm_type.go
Labels: kind/feature, area/documentation, size/l

#437 chore!: simplify usage of CTF bindings by not directly binding to fs config
  bindings/go/ctf/ctf.go
  bindings/go/ctf/ctf_compatibility_test.go
  bindings/go/ctf/ctf_test.go
  bindings/go/ctf/go.mod
  bindings/go/ctf/go.sum
  bindings/go/ctf/tar_test.go
Labels: kind/chore, size/m, !BREAKING-CHANGE!

#436 fix: make sure that resource identity is used when looking for a local artifact
  bindings/go/oci/repository.go
Labels: size/s, kind/bugfix

#441 fix: set the temp folder flag on change
  cli/cmd/setup_filesystem_config.go
  cli/cmd/setup_test.go
Labels: size/s, kind/bugfix

#413 feat(cli): build and create a CTF containing the OCM CLI with multiple Architectures and Operating Systems
  .github/workflows/cli.yml
  cli/Taskfile.yml
  cli/cmd/add/component-version/cmd.go
  cli/cmd/download/resource/cmd.go
Labels: kind/feature, size/m, component/github-actions

#443 chore(docs): Add odg-representation agenda item
  .github/config/wordlist.txt
  docs/steering/meeting-notes/2025-08-04.md
Labels: kind/chore, size/xs, component/github-actions, area/documentation

#446 fix(ctf): make sure that index is truncated
  bindings/go/ctf/filesystem_ctf.go
  bindings/go/ctf/filesystem_ctf_test.go
Labels: size/s, kind/bugfix

#444 chore(ci): make CLI CTF build faster by caching the CLI go dependencies
  .github/workflows/cli.yml
Labels: kind/chore, size/xs, component/github-actions

#450 feat: add `dir` input to cli
  cli/go.mod
  cli/go.sum
  cli/internal/plugin/builtin/builtin.go
  cli/internal/plugin/builtin/input/dir/method.go
Labels: size/s, kind/feature

#457 feat: filter for type
  bindings/go/configuration/generic/v1/spec/filter.go
  bindings/go/configuration/generic/v1/spec/filter_test.go
Labels: kind/feature, size/m

#460 chore(deps): upgrade repository to updated configuration module
  bindings/go/repository/component/fallback/v1/repository.go
  bindings/go/repository/component/fallback/v1/repository_test.go
  bindings/go/repository/component/resolver/config/v1/doc.go
  bindings/go/repository/component/resolver/config/v1/runtime/config.go
  bindings/go/repository/component/resolver/config/v1/runtime/convert_v1.go
  bindings/go/repository/component/resolver/config/v1/runtime/doc.go
  bindings/go/repository/component/resolver/config/v1/runtime/merge.go
  bindings/go/repository/component/resolver/config/v1/runtime/zz_generated.deepcopy.go
  bindings/go/repository/component/resolver/config/v1/runtime/zz_generated.ocm_type.go
  bindings/go/repository/component/resolver/config/v1/spec/config.go
  bindings/go/repository/component/resolver/config/v1/spec/zz_generated.deepcopy.go
  bindings/go/repository/component/resolver/config/v1/spec/zz_generated.ocm_type.go
  bindings/go/repository/go.mod
  bindings/go/repository/go.sum
Labels: kind/chore, kind/dependency, size/l

#461 chore(deps): upgrade plugin to central config
  bindings/go/plugin/go.mod
  bindings/go/plugin/go.sum
  bindings/go/plugin/manager/manager.go
  bindings/go/plugin/manager/manager_test.go
Labels: kind/chore, size/s, kind/dependency, size/l

#462 chore: update CLI documentation directory path in Taskfile
  Taskfile.yml
  cli/cmd/generate/docs/cmd.go
  cli/docs/reference/.markdownlint-cli2.yaml
  cli/docs/reference/_index.md
  cli/docs/reference/ocm.md
  cli/docs/reference/ocm_add.md
  cli/docs/reference/ocm_add_component-version.md
  cli/docs/reference/ocm_completion.md
  cli/docs/reference/ocm_completion_bash.md
  cli/docs/reference/ocm_completion_fish.md
  cli/docs/reference/ocm_completion_powershell.md
  cli/docs/reference/ocm_completion_zsh.md
  cli/docs/reference/ocm_download.md
  cli/docs/reference/ocm_download_resource.md
  cli/docs/reference/ocm_generate.md
  cli/docs/reference/ocm_generate_docs.md
  cli/docs/reference/ocm_get.md
  cli/docs/reference/ocm_get_component-version.md
  cli/docs/reference/ocm_version.md
  docs/reference/cli/ocm.md
Labels: kind/chore, size/s, size/m, size/xs, area/documentation

#466 feat: update the plugin manager component version repository with CheckHealth
  bindings/go/plugin/go.mod
  bindings/go/plugin/go.sum
  bindings/go/plugin/internal/testplugin-component-version/main.go
  bindings/go/plugin/manager/contracts/ocmrepository/v1/contracts.go
  bindings/go/plugin/manager/contracts/ocmrepository/v1/types.go
  bindings/go/plugin/manager/registries/componentversionrepository/endpoints_function_test.go
  bindings/go/plugin/manager/registries/componentversionrepository/implementations.go
  bindings/go/plugin/manager/registries/componentversionrepository/typed_conversion.go
Labels: size/s, kind/feature
