Repository open-component-model/open-component-model, pull requests merged in 2025-08, with the labels that each got.

#478 docs: add agenda item for owners
  docs/steering/meeting-notes/2025-08-04.md
Labels: kind/chore, size/xs, area/documentation

#477 feat: add interface to blobs for plugin implementation
  bindings/go/blob/blob.go
  bindings/go/blob/go.mod
  bindings/go/blob/go.sum
  bindings/go/blob/transformer/transformer.go
Labels: size/s, kind/feature

#485 chore(docs): OCM TSC Call
  docs/steering/meeting-notes/2025-08-04.md
  docs/steering/meeting-notes/2025-09-01.md
Labels: kind/chore, size/m, area/documentation

#459 feat: `helm` input method
  Taskfile.yml
  bindings/go/input/helm/Taskfile.yml
  bindings/go/input/helm/blob.go
  bindings/go/input/helm/blob_test.go
  bindings/go/input/helm/go.mod
  bindings/go/input/helm/go.sum
  bindings/go/input/helm/method.go
  bindings/go/input/helm/spec/v1/spec.go
  bindings/go/input/helm/spec/v1/zz_generated.deepcopy.go
  bindings/go/input/helm/spec/v1/zz_generated.ocm_type.go
  bindings/go/input/helm/testdata/README.md
  bindings/go/input/helm/testdata/badchart/.helmignore
  bindings/go/input/helm/testdata/badchart/Chart.yaml
  bindings/go/input/helm/testdata/badchart/templates/pod.yaml
  bindings/go/input/helm/testdata/badchart/values.yaml
  bindings/go/input/helm/testdata/mychart-0.1.0.tgz
  bindings/go/input/helm/testdata/mychart/.helmignore
  bindings/go/input/helm/testdata/mychart/Chart.yaml
  bindings/go/input/helm/testdata/mychart/templates/pod.yaml
  bindings/go/input/helm/testdata/mychart/values.yaml
Labels: kind/feature, size/m, size/l

#502 chore(deps): update all helm input dependencies at once
  bindings/go/input/helm/go.mod
  bindings/go/input/helm/go.sum
Labels: kind/chore, size/s, kind/dependency

#504 fix: helm input: optimize OCI layout writing
  bindings/go/input/helm/blob.go
Labels: size/s, kind/bugfix

#500 feat(dag)!: convert dag maps to sync maps for concurrent use
  bindings/go/dag/Taskfile.yml
  bindings/go/dag/go.mod
  bindings/go/dag/go.sum
  bindings/go/dag/sync/conversion_test.go
  bindings/go/dag/sync/dag.go
  bindings/go/dag/sync/map_to_synced.go
  bindings/go/dag/sync/synced_to_map.go
  bindings/go/dag/sync/traverse.go
  bindings/go/dag/sync/traverse_test.go
Labels: kind/feature, size/l, !BREAKING-CHANGE!

#506 chore(ci): only build CLI when it actually changes
  .github/workflows/cli.yml
Labels: kind/chore, size/xs, component/github-actions

#508 feat: allow adding provenance data to HELM Charts with input method.
  bindings/go/input/helm/blob.go
  bindings/go/input/helm/blob_test.go
  bindings/go/input/helm/go.mod
  bindings/go/input/helm/testdata/mychart-0.1.0.tgz
  bindings/go/input/helm/testdata/provenance/mychart-0.1.0.tgz
  bindings/go/input/helm/testdata/provenance/mychart-0.1.0.tgz.prov
  bindings/go/input/helm/testdata/provenance/pub.gpg
  bindings/go/oci/ctf/store_test.go
  tools.Taskfile.yml
Labels: kind/feature, size/m

#512 fix: support `compress` option for `file` and `dir` inputs
  bindings/go/oci/blob/artifact_blob.go
  bindings/go/oci/blob/artifact_blob_test.go
  bindings/go/oci/internal/pack/pack.go
  bindings/go/oci/internal/pack/pack_test.go
Labels: size/s, size/m, kind/bugfix

#503 feat: direct blob
  bindings/go/blob/direct/blob.go
  bindings/go/blob/direct/blob_test.go
  bindings/go/blob/direct/options.go
Labels: kind/feature, size/l

#538 fix: remove dependency on defer linting
  tools.Taskfile.yml
Labels: size/xs, kind/bugfix

#531 chore(docs): add security officer election to next TSC meeting
  docs/steering/meeting-notes/2025-09-01.md
Labels: kind/chore, size/xs, area/documentation

#551 feat: replace `inmemory` blob with `direct` blob for dir input
  bindings/go/input/dir/blob.go
  bindings/go/input/dir/blob_test.go
  bindings/go/input/dir/go.mod
  bindings/go/input/dir/go.sum
Labels: size/s, kind/feature

#555 chore(docs): lowercase archive in commandline help
  cli/cmd/add/component-version/cmd.go
  cli/docs/reference/ocm_add.md
  cli/docs/reference/ocm_add_component-version.md
Labels: kind/chore, size/s

#552 feat: replace `inmemory` blob with `direct` blob for helm input
  bindings/go/input/helm/blob.go
Labels: size/s, kind/feature

#566 fix: handle nil resources in descriptor runtime conversion functions
  bindings/go/descriptor/runtime/convert_v2.go
Labels: size/xs, kind/bugfix

#568 fix: manager plugin lifecycle handling
  bindings/go/plugin/client/sdk/plugin.go
  bindings/go/plugin/manager/manager.go
  bindings/go/plugin/manager/manager_test.go
  bindings/go/plugin/manager/registries/input/registry.go
  bindings/go/plugin/manager/registries/input/resource_input_converter.go
  bindings/go/plugin/manager/registries/plugins/log_streamer.go
Labels: size/s, kind/bugfix

#610 fix(ci): properly generate and add repo checkout to generate
  .github/workflows/ci.yml
  cli/cmd/add/component-version/cmd.go
  cli/cmd/internal/cmd/flags.go
  cli/docs/reference/ocm.md
  cli/docs/reference/ocm_add.md
  cli/docs/reference/ocm_add_component-version.md
  cli/docs/reference/ocm_completion.md
  cli/docs/reference/ocm_completion_bash.md
  cli/docs/reference/ocm_completion_fish.md
  cli/docs/reference/ocm_completion_powershell.md
  cli/docs/reference/ocm_completion_zsh.md
  cli/docs/reference/ocm_download.md
  cli/docs/reference/ocm_download_plugin.md
  cli/docs/reference/ocm_download_resource.md
  cli/docs/reference/ocm_generate.md
  cli/docs/reference/ocm_generate_docs.md
  cli/docs/reference/ocm_get.md
  cli/docs/reference/ocm_get_component-version.md
  cli/docs/reference/ocm_version.md
Labels: size/s, component/github-actions, kind/bugfix

#611 fix(ci): properly generate and add repo checkout to generate
  cli/cmd/download/plugin/integration/go.mod
  cli/cmd/download/plugin/integration/go.sum
Labels: size/s, kind/bugfix

#612 fix(ci): properly generate and add repo checkout to generate
  cli/docs/reference/ocm_add_component-version.md
Labels: size/xs, kind/bugfix

#616 fix(dag): traversal state discovering was not set if root was determined from graph
  bindings/go/dag/sync/traverse.go
Labels: size/xs, kind/bugfix

#617 feat(configuration): introduce global scheme and improve registration handling
  bindings/go/configuration/filesystem/v1alpha1/spec/config.go
  bindings/go/configuration/scheme.go
  bindings/go/configuration/scheme_test.go
Labels: size/s, kind/feature

#608 fix(configuration): align with credential merge logic
  bindings/go/configuration/ocm/v1/runtime/merge.go
Labels: size/xs, kind/bugfix

#623 fix: manually update blob dependency to unblock monorepo job
  bindings/go/input/dir/blob.go
  bindings/go/input/dir/go.mod
  bindings/go/input/dir/go.sum
Labels: size/xs, kind/bugfix

#676 fix: make sure controller image is built correctly
  .github/workflows/kubernetes-controller.yml
Labels: kind/chore, size/xs, component/github-actions

#530 feat: setup helm blob transformer that can extract OCI layouts
  cli/cmd/download/resource/cmd.go
  cli/cmd/setup/setup.go
  cli/docs/reference/ocm_download_resource.md
  cli/integration/download_plugin_integration_test.go
  cli/integration/download_resource_integration_test.go
  cli/integration/go.mod
  cli/integration/go.sum
  cli/integration/internal/credentials.go
  cli/integration/internal/oci.go
  cli/internal/plugin/builtin/builtin.go
  cli/internal/plugin/builtin/oci/register.go
  cli/internal/transformers/default.go
  cli/internal/transformers/helm.go
Labels: kind/feature, size/m, size/l

#698 fix(ci): streamline docker build and push process for multi-architecture support
  .github/workflows/kubernetes-controller.yml
  kubernetes/controller/Dockerfile
  kubernetes/controller/Taskfile.yml
Labels: size/s, component/github-actions, kind/bugfix

#604 feat(cli)!: ocm get cv --recursive
  cli/Taskfile.yml
  cli/cmd/cmd_test.go
  cli/cmd/get/component-version/cmd.go
  cli/cmd/get/component-version/encode.go
  cli/cmd/internal/test/test.go
  cli/cmd/setup/setup.go
  cli/docs/reference/ocm_get_component-version.md
  cli/go.mod
  cli/go.sum
  cli/integration/go.mod
  cli/integration/go.sum
  cli/internal/credentials/config.go
  cli/internal/flags/log/flag.go
  cli/internal/render/cmd.go
  cli/internal/render/format.go
  cli/internal/render/graph/list/renderer.go
  cli/internal/render/graph/list/renderer_json_test.go
  cli/internal/render/graph/list/renderer_ndjson_test.go
  cli/internal/render/graph/list/renderer_options.go
  cli/internal/render/graph/list/renderer_yaml_test.go
  cli/internal/render/graph/list/serializer.go
  cli/internal/render/graph/list/serializer_options.go
  cli/internal/render/graph/tree/renderer.go
  cli/internal/render/graph/tree/renderer_options.go
  cli/internal/render/graph/tree/renderer_test.go
  cli/internal/render/render.go
  cli/internal/repository/ocm/repository.go
Labels: kind/feature, size/m, size/l, !BREAKING-CHANGE!

#700 chore: attempt multi-arch-fix
  .github/workflows/kubernetes-controller.yml
Labels: kind/chore, size/xs, component/github-actions

#709 chore: attempt to overcome madness by passing repo
  .github/workflows/kubernetes-controller.yml
Labels: kind/chore, component/github-actions

#715 chore: separate publish from e2e
  .github/workflows/kubernetes-controller.yml
  .github/workflows/latest.yml
  kubernetes/controller/Taskfile.yml
Labels: kind/chore, size/s, component/github-actions

#717 chore: update latest.yml to manage checks for publishing controller image
  .github/workflows/latest.yml
Labels: kind/chore, size/s, component/github-actions

#718 chore: add dispatch trigger to k8s workflow
  .github/workflows/kubernetes-controller.yml
Labels: kind/chore, component/github-actions

#719 chore: revert separate workflow for controller publish
  .github/workflows/kubernetes-controller.yml
  .github/workflows/latest.yml
Labels: kind/chore, size/m, component/github-actions

#728 chore: prune unused golangci-lint dependencies from go.sum
  kubernetes/controller/go.mod
  kubernetes/controller/go.sum
Labels: kind/chore, size/l

#730 chore: remove unused component-constructor and descriptor files
  component-constructor.yaml
  descriptor.yaml
Labels: kind/chore, size/m

#737 chore: enhance dependency configuration and tooling
  .env
  .github/config/renovate.json5
  .github/workflows/ci.yml
  kubernetes/controller/Taskfile.yml
  kubernetes/controller/internal/controller/component/suite_test.go
  kubernetes/controller/internal/controller/deployer/suite_test.go
  kubernetes/controller/internal/controller/replication/suite_test.go
  kubernetes/controller/internal/controller/repository/suite_test.go
  kubernetes/controller/internal/controller/resource/suite_test.go
  renovate.json5
  tools.Taskfile.yml
Labels: kind/chore, size/m, component/github-actions

#738 chore: add support for repository-specific Renovate environment variable
  .github/workflows/renovate.yml
Labels: kind/chore, size/xs, component/github-actions

#744 chore: enhance Renovate workflow with caching and dispatch inputs
  .github/workflows/renovate.yml
Labels: kind/chore, size/s, component/github-actions

#749 fix: do not error out on removing a non-existant socket
  bindings/go/plugin/manager/manager_test.go
Labels: size/s, size/xs, kind/bugfix
