Repository open-component-model/open-component-model, pull requests merged in 2025-09, with the labels that each got.

#602 fix: improve credential graph error handling and resolution logic
  bindings/go/credentials/graph.go
  bindings/go/credentials/graph_test.go
  bindings/go/credentials/resolve_direct.go
  bindings/go/credentials/resolve_indirect.go
  bindings/go/credentials/synced_dag.go
Labels: size/s, kind/bugfix

#628 feat: add support for OCI repository pattern for add component version
  cli/cmd/add/component-version/cmd.go
  cli/docs/reference/ocm_add.md
  cli/docs/reference/ocm_add_component-version.md
  cli/integration/add_component_version_integration_test.go
  cli/integration/download_resource_integration_test.go
  cli/integration/internal/credentials.go
  cli/internal/reference/compref/compref.go
  cli/internal/reference/compref/compref_test.go
Labels: kind/feature, size/l

#781 fix(credentials): refactor cache identity parsing logic
  bindings/go/oci/repository/provider/credential_cache.go
  bindings/go/oci/repository/provider/credential_cache_test.go
Labels: size/s, kind/bugfix

#799 chore: group docker package updates into a single pull request
  .github/config/renovate.json5
  renovate.json5
Labels: kind/chore, size/xs, component/github-actions

#780 feat(575): regex glob resolver
  bindings/go/configuration/resolvers/v1/matcher/glob_matcher.go
  bindings/go/configuration/resolvers/v1/matcher/glob_matcher_test.go
  bindings/go/configuration/resolvers/v1/matcher/matcher.go
  bindings/go/configuration/resolvers/v1/matcher/matcher_test.go
  bindings/go/configuration/resolvers/v1/spec/config.go
  bindings/go/configuration/resolvers/v1/spec/doc.go
  bindings/go/configuration/resolvers/v1/spec/zz_generated.deepcopy.go
  bindings/go/configuration/resolvers/v1/spec/zz_generated.ocm_type.go
Labels: kind/feature, size/m, size/l

#770 feat(dag)!: introduce dag processing logic
  bindings/go/dag/sync/conversion_test.go
  bindings/go/dag/sync/dag.go
  bindings/go/dag/sync/discover.go
  bindings/go/dag/sync/discover_test.go
  bindings/go/dag/sync/process.go
  bindings/go/dag/sync/process_test.go
  bindings/go/dag/sync/traverse.go
Labels: kind/feature, size/m, size/l, !BREAKING-CHANGE!

#852 chore(renovate): group Google Golang repositories
  renovate.json5
Labels: kind/chore, size/xs

#866 chore(renovate): update dry-run condition in GitHub workflow
  .github/workflows/renovate.yml
Labels: kind/chore, size/xs, component/github-actions

#867 chore(renovate): move dry-run setup to a dedicated step in workflow
  .github/workflows/renovate.yml
Labels: kind/chore, size/xs, component/github-actions

#872 feat(verification): update resolver handling for component verification
  kubernetes/controller/internal/controller/component/component_controller.go
  kubernetes/controller/internal/controller/deployer/deployer_controller.go
  kubernetes/controller/internal/controller/resource/resource_controller.go
  kubernetes/controller/internal/ocm/ocm_test.go
  kubernetes/controller/internal/ocm/resource.go
  kubernetes/controller/internal/ocm/verification.go
Labels: kind/feature, size/m

#887 fix(processor): reorder error handling for component construction
  bindings/go/constructor/go.mod
  bindings/go/constructor/go.sum
  bindings/go/constructor/processor.go
Labels: size/s, kind/bugfix

#890 fix(registry): add credential identity support for internal plugins
  bindings/go/plugin/manager/registries/componentversionrepository/registry.go
  bindings/go/plugin/manager/registries/componentversionrepository/registry_test.go
Labels: size/s, kind/bugfix

#892 fix(dag): fix various races
  bindings/go/dag/dag.go
  bindings/go/dag/dag_test.go
  bindings/go/dag/sync/conversion_test.go
  bindings/go/dag/sync/dag.go
  bindings/go/dag/sync/discover.go
  bindings/go/dag/sync/map_to_synced.go
  bindings/go/dag/sync/process.go
  bindings/go/dag/sync/synced_to_map.go
Labels: size/m, kind/bugfix

#888 fix: in some cases golangci-lint will fail parsing a comment with a URL
  cli/cmd/get/component-version/cmd.go
Labels: size/xs, kind/bugfix

#889 feat: adjust cli to updated constructor (and plugins and credentials)
  cli/cmd/add/component-version/cmd.go
  cli/cmd/download/shared/common.go
  cli/cmd/get/component-version/cmd.go
  cli/go.mod
  cli/go.sum
  cli/integration/go.mod
  cli/integration/go.sum
  cli/internal/context/context.go
  cli/internal/repository/ocm/repository.go
  cli/internal/repository/ocm/resolver.go
Labels: kind/feature, size/m

#894 fix(oci): fix repository detection for OCI URLs with IP addresses
  cli/internal/reference/compref/compref.go
  cli/internal/reference/compref/compref_test.go
Labels: size/s, kind/bugfix

#858 feat: bootstrap Special Interest Groups (SIG)
  .github/config/wordlist.txt
  docs/community/SIGs/SIG-Handbook.md
  docs/community/SIGs/SIG-Submission-Template.md
  docs/community/SIGs/sigs.yaml
Labels: kind/feature, size/m, component/github-actions, area/documentation

#899 docs: update meeting dates and add vote for SIG governance model
  .github/config/wordlist.txt
  docs/steering/meeting-notes/2025-09-01.md
  docs/steering/meeting-notes/2025-10-06.md
Labels: kind/chore, size/s, size/xs, component/github-actions, area/documentation

#904 chore(resolvers): remove glob matcher support and move to v1alpha1
  bindings/go/configuration/ocm/v1/spec/config.go
  bindings/go/configuration/resolvers/v1/matcher/glob_matcher.go
  bindings/go/configuration/resolvers/v1/matcher/glob_matcher_test.go
  bindings/go/configuration/resolvers/v1/matcher/matcher.go
  bindings/go/configuration/resolvers/v1/matcher/matcher_test.go
  bindings/go/configuration/resolvers/v1alpha1/spec/config.go
  bindings/go/configuration/resolvers/v1alpha1/spec/doc.go
  bindings/go/configuration/resolvers/v1alpha1/spec/zz_generated.deepcopy.go
  bindings/go/configuration/resolvers/v1alpha1/spec/zz_generated.ocm_type.go
Labels: kind/chore, size/m

#911 feat: component lister interface
  bindings/go/repository/interface.go
Labels: size/s, kind/feature, size/m

#921 fix(rsa): update default signature encoding policy to SignatureEncodingPolicyDefault
  bindings/go/rsa/signing/v1alpha1/config.go
Labels: size/xs, kind/bugfix
