Repository open-component-model/open-component-model, pull requests merged in 2025-05, with the labels that each got.

#86 feat: add component references to CLI internals
  cli/go.mod
  cli/go.sum
  cli/internal/reference/compref/compref.go
  cli/internal/reference/compref/compref_test.go
Labels: kind/feature, size/l

#88 fix: oci logger formatting
  bindings/go/oci/internal/log/logging.go
  bindings/go/oci/internal/log/logging_test.go
  bindings/go/oci/repository.go
  bindings/go/oci/store_descriptor.go
Labels: size/s, kind/bugfix

#89 fix: make sure merge works for empty configs
  bindings/go/credentials/spec/config/runtime/merge.go
  bindings/go/credentials/spec/config/runtime/merge_test.go
Labels: size/m, kind/bugfix

#91 chore: parallelize lint tasks when run on whole repo
  tools.Taskfile.yml
Labels: kind/chore, size/s

#93 feat: artifact interface
  bindings/go/descriptor/runtime/artifact.go
Labels: size/s, kind/feature

#53 feat: migrate the plugin manager
  .gitignore
  Taskfile.yml
  bindings/go/plugin/Taskfile.yml
  bindings/go/plugin/client/sdk/doc.go
  bindings/go/plugin/client/sdk/plugin.go
  bindings/go/plugin/client/sdk/plugin_test.go
  bindings/go/plugin/go.mod
  bindings/go/plugin/go.sum
  bindings/go/plugin/manager/contracts/base.go
  bindings/go/plugin/manager/contracts/doc.go
  bindings/go/plugin/manager/contracts/ocmrepository/v1/contracts.go
  bindings/go/plugin/manager/contracts/ocmrepository/v1/types.go
  bindings/go/plugin/manager/doc.go
  bindings/go/plugin/manager/endpoints/doc.go
  bindings/go/plugin/manager/endpoints/endpoint_constructors.go
  bindings/go/plugin/manager/manager.go
  bindings/go/plugin/manager/manager_test.go
  bindings/go/plugin/manager/registries/componentversionrepository/decode_body.go
  bindings/go/plugin/manager/registries/componentversionrepository/doc.go
  bindings/go/plugin/manager/registries/componentversionrepository/endpoints_function.go
  bindings/go/plugin/manager/registries/componentversionrepository/endpoints_function_test.go
  bindings/go/plugin/manager/registries/componentversionrepository/handlers.go
  bindings/go/plugin/manager/registries/componentversionrepository/handlers_test.go
  bindings/go/plugin/manager/registries/componentversionrepository/implementations.go
  bindings/go/plugin/manager/registries/componentversionrepository/implementations_test.go
  bindings/go/plugin/manager/registries/componentversionrepository/registry.go
  bindings/go/plugin/manager/registries/componentversionrepository/registry_test.go
  bindings/go/plugin/manager/registries/plugins/call.go
  bindings/go/plugin/manager/registries/plugins/call_test.go
  bindings/go/plugin/manager/registries/plugins/doc.go
  bindings/go/plugin/manager/registries/plugins/errors.go
  bindings/go/plugin/manager/registries/plugins/log_streamer.go
  bindings/go/plugin/manager/registries/plugins/validation.go
  bindings/go/plugin/manager/registries/plugins/validation_test.go
  bindings/go/plugin/manager/registries/plugins/wait_for_plugin.go
  bindings/go/plugin/manager/registries/plugins/wait_for_plugin_test.go
  bindings/go/plugin/manager/types/config.go
  bindings/go/plugin/manager/types/doc.go
  bindings/go/plugin/manager/types/plugin.go
  bindings/go/plugin/manager/types/types.go
  bindings/go/plugin/testplugin/main.go
Labels: kind/feature, size/l

#87 feat: add docker config or native store backed OCI credential repository
  bindings/go/oci/credentials/credential_repository.go
  bindings/go/oci/credentials/doc.go
  bindings/go/oci/credentials/docker_config.go
  bindings/go/oci/credentials/docker_config_test.go
  bindings/go/oci/credentials/logging_store.go
  bindings/go/oci/credentials/logging_store_test.go
  bindings/go/oci/go.mod
  bindings/go/oci/go.sum
  bindings/go/oci/integration/go.mod
  bindings/go/oci/integration/go.sum
  bindings/go/oci/spec/credentials/identity/v1/type.go
  bindings/go/oci/spec/credentials/identity/v1/type_test.go
  bindings/go/oci/spec/credentials/scheme.go
  bindings/go/oci/spec/credentials/v1/docker_config.go
  bindings/go/oci/spec/credentials/v1/group_version.go
  bindings/go/oci/spec/credentials/v1/zz_generated.deepcopy.go
  bindings/go/oci/spec/credentials/v1/zz_generated.ocm_type.go
Labels: kind/feature, size/l

#94 fix: plugin manager test
  bindings/go/plugin/client/sdk/plugin_test.go
  bindings/go/plugin/manager/manager_test.go
  bindings/go/plugin/manager/registries/componentversionrepository/registry_test.go
Labels: size/s, kind/bugfix

#96 fix: fixup non-deterministic registry behavior
  bindings/go/runtime/registry.go
  bindings/go/runtime/registry_test.go
Labels: size/s, kind/bugfix

#97 chore: remove dependency on oci package by using a dummy type
  bindings/go/plugin/Taskfile.yml
  bindings/go/plugin/go.mod
  bindings/go/plugin/go.sum
  bindings/go/plugin/internal/dummytype/scheme.go
  bindings/go/plugin/internal/dummytype/v1/group_version.go
  bindings/go/plugin/internal/dummytype/v1/type.go
  bindings/go/plugin/internal/dummytype/v1/zz_generated.deepcopy.go
  bindings/go/plugin/internal/dummytype/v1/zz_generated.ocm_type.go
  bindings/go/plugin/internal/testplugin/main.go
  bindings/go/plugin/manager/manager_test.go
  bindings/go/plugin/manager/registries/componentversionrepository/endpoints_function_test.go
  bindings/go/plugin/manager/registries/componentversionrepository/handlers_test.go
  bindings/go/plugin/manager/registries/componentversionrepository/implementations_test.go
  bindings/go/plugin/manager/registries/componentversionrepository/registry_test.go
Labels: kind/chore, size/m

#99 chore: add retaining log levels from plugins
  bindings/go/plugin/client/sdk/plugin.go
  bindings/go/plugin/client/sdk/plugin_test.go
  bindings/go/plugin/internal/testplugin/main.go
  bindings/go/plugin/manager/manager_test.go
  bindings/go/plugin/manager/registries/componentversionrepository/endpoints_function_test.go
  bindings/go/plugin/manager/registries/plugins/log_streamer.go
  bindings/go/plugin/manager/registries/plugins/log_streamer_test.go
Labels: kind/chore, size/m

#101 fix: new object for defaults and aliases
  bindings/go/runtime/go.mod
  bindings/go/runtime/go.sum
  bindings/go/runtime/registry.go
  bindings/go/runtime/registry_test.go
Labels: size/s, kind/bugfix

#100 chore: add necessary changes for credentials package
  bindings/go/credentials/go.mod
  bindings/go/credentials/go.sum
  bindings/go/credentials/graph_test.go
  bindings/go/credentials/ingest.go
  bindings/go/credentials/plugins.go
  bindings/go/credentials/resolve_indirect.go
Labels: kind/chore, size/s

#102 feat: add credential plugin and improve plugin manager usability
  bindings/go/plugin/go.mod
  bindings/go/plugin/go.sum
  bindings/go/plugin/internal/testplugin/main.go
  bindings/go/plugin/manager/contracts/credentials/v1/contracts.go
  bindings/go/plugin/manager/contracts/credentials/v1/types.go
  bindings/go/plugin/manager/contracts/ocmrepository/v1/contracts.go
  bindings/go/plugin/manager/contracts/ocmrepository/v1/types.go
  bindings/go/plugin/manager/manager.go
  bindings/go/plugin/manager/manager_test.go
  bindings/go/plugin/manager/registries/componentversionrepository/endpoints_function_test.go
  bindings/go/plugin/manager/registries/componentversionrepository/implementations.go
  bindings/go/plugin/manager/registries/componentversionrepository/registry.go
  bindings/go/plugin/manager/registries/componentversionrepository/registry_test.go
  bindings/go/plugin/manager/registries/componentversionrepository/typed_conversion.go
  bindings/go/plugin/manager/registries/credentialrepository/graph_integration.go
  bindings/go/plugin/manager/registries/credentialrepository/implementations.go
  bindings/go/plugin/manager/registries/credentialrepository/registry.go
  bindings/go/plugin/manager/registries/credentialrepository/typed_conversion.go
  bindings/go/plugin/manager/types/types.go
Labels: kind/feature, size/l

#104 feat: add list component version
  bindings/go/plugin/internal/testplugin/main.go
  bindings/go/plugin/manager/contracts/ocmrepository/v1/contracts.go
  bindings/go/plugin/manager/contracts/ocmrepository/v1/types.go
  bindings/go/plugin/manager/registries/componentversionrepository/endpoints_function.go
  bindings/go/plugin/manager/registries/componentversionrepository/endpoints_function_test.go
  bindings/go/plugin/manager/registries/componentversionrepository/handlers.go
  bindings/go/plugin/manager/registries/componentversionrepository/implementations.go
  bindings/go/plugin/manager/registries/componentversionrepository/implementations_test.go
  bindings/go/plugin/manager/registries/componentversionrepository/typed_conversion.go
Labels: kind/feature, size/m

#103 chore: remove unneeded credential repo method
  bindings/go/oci/credentials/credential_repository.go
  bindings/go/oci/go.mod
  bindings/go/oci/go.sum
  bindings/go/oci/integration/go.mod
  bindings/go/oci/integration/go.sum
Labels: kind/chore, size/s

#105 feat: return a specific error when there are no plugins
  bindings/go/plugin/manager/manager.go
Labels: kind/feature, size/xs

#106 fix: fixup access type registration
  bindings/go/oci/go.mod
  bindings/go/oci/go.sum
  bindings/go/oci/integration/go.mod
  bindings/go/oci/integration/go.sum
  bindings/go/oci/spec/access/scheme.go
Labels: size/s, kind/bugfix

#90 feat: inmemory cached blobs
  bindings/go/blob/cache/inmemory/blob.go
  bindings/go/blob/cache/inmemory/blob_test.go
  bindings/go/blob/cache/inmemory/doc.go
Labels: kind/feature, size/l

#109 feat: hot load size in cached blob
  bindings/go/blob/cache/inmemory/blob.go
  bindings/go/blob/cache/inmemory/blob_test.go
Labels: size/s, kind/feature

#92 feat: support source repositories
  bindings/go/oci/blob/artifact_blob.go
  bindings/go/oci/blob/artifact_blob_test.go
  bindings/go/oci/blob/update.go
  bindings/go/oci/blob/update_test.go
  bindings/go/oci/integration/integration_test.go
  bindings/go/oci/internal/digest/digest.go
  bindings/go/oci/internal/fetch/fetch.go
  bindings/go/oci/internal/fetch/fetch_test.go
  bindings/go/oci/internal/identity/descriptor.go
  bindings/go/oci/internal/identity/descriptor_test.go
  bindings/go/oci/internal/log/logging_test.go
  bindings/go/oci/internal/pack/pack.go
  bindings/go/oci/internal/pack/pack_test.go
  bindings/go/oci/repository.go
  bindings/go/oci/repository_options.go
  bindings/go/oci/repository_test.go
Labels: kind/feature, size/l

#116 fix: sort the incoming keys from the log output
  bindings/go/plugin/manager/registries/plugins/log_streamer.go
  bindings/go/plugin/manager/registries/plugins/log_streamer_test.go
Labels: size/s, kind/bugfix

#133 chore: bump plugin manager deps to latest with changing descriptor string representation
  bindings/go/plugin/go.mod
  bindings/go/plugin/go.sum
  bindings/go/plugin/manager/registries/componentversionrepository/handlers_test.go
Labels: kind/chore, size/s

#139 fix: flaky manager test sometimes removing something that is not there
  bindings/go/plugin/manager/manager_test.go
Labels: size/xs, kind/bugfix

#144 chore: add renovate config
  renovate.json5
Labels: kind/chore, size/s

#152 chore(deps): bump dependencies of descriptor with test correction
  .github/config/golangci.yml
  bindings/go/descriptor/v2/descriptor_test.go
  bindings/go/descriptor/v2/go.mod
  bindings/go/descriptor/v2/go.sum
Labels: kind/chore, size/m, component/github-actions, kind/dependency

#153 fix: fixup lint in jcs
  bindings/go/descriptor/normalisation/engine/jcs/normalise.go
Labels: size/xs, kind/bugfix

#154 fix: fixup lint install run and cred run
  bindings/go/credentials/graph.go
  bindings/go/credentials/ingest.go
  tools.Taskfile.yml
Labels: size/s, kind/bugfix

#155 fix: fixup golangci v2 run
  bindings/go/oci/ctf/store.go
  bindings/go/oci/internal/lister/component/component_versions.go
  bindings/go/oci/repository.go
  cli/internal/plugin/builtin/ctf/plugin.go
  cli/internal/plugin/builtin/oci/plugin.go
  tools.Taskfile.yml
Labels: size/s, kind/bugfix

#158 chore: setup submodule releases
  .github/config/release.yaml
Labels: kind/chore, size/m, component/github-actions

#159 fix: move submodule gh action
  .github/workflows/release-go-submodule.yaml
Labels: kind/bugfix

#161 chore: bump and pin runtime
  bindings/go/descriptor/runtime/go.mod
  bindings/go/descriptor/runtime/go.sum
  bindings/go/descriptor/runtime/validate_test.go
Labels: kind/chore, size/s

#163 chore: bump dag to latest
  bindings/go/dag/go.mod
  bindings/go/dag/go.sum
Labels: kind/chore, size/s

#164 chore: bump credentials to latest tags
  bindings/go/credentials/go.mod
  bindings/go/credentials/go.sum
Labels: kind/chore, size/s

#173 chore: fix integration test go mod tidy
  bindings/go/oci/integration/go.mod
  bindings/go/oci/integration/go.sum
Labels: kind/chore, size/xs

#111 feat: add component constructor specification
  Taskfile.yml
  bindings/go/constructor/Taskfile.yml
  bindings/go/constructor/go.mod
  bindings/go/constructor/go.sum
  bindings/go/constructor/spec/v1/constructor.go
  bindings/go/constructor/spec/v1/constructor_test.go
  bindings/go/constructor/spec/v1/convert.go
  bindings/go/constructor/spec/v1/convert_test.go
  bindings/go/constructor/spec/v1/doc.go
  bindings/go/constructor/spec/v1/resources/schema-2020-12.json
  bindings/go/constructor/spec/v1/validate.go
  bindings/go/constructor/spec/v1/validate_test.go
  bindings/go/constructor/spec/v1/zz_generated.deepcopy.go
Labels: kind/feature, size/l

#176 fix: go module package name to ocm.software
  bindings/go/configuration/v1/go.mod
Labels: size/xs, kind/bugfix

#175 chore: remove automatic bump, default to dry run, and allow suffix
  .github/workflows/release-go-submodule.yaml
Labels: kind/chore, component/github-actions

#177 chore: bump descriptor/v2 runtime to 0.0.1
  bindings/go/descriptor/v2/go.mod
  bindings/go/descriptor/v2/go.sum
Labels: kind/chore, size/xs

#178 chore: support major version suffixes in mod paths
  .github/workflows/release-go-submodule.yaml
Labels: kind/chore, size/xs, component/github-actions

#179 fix: go module location out of the v1 folder
  Taskfile.yml
  bindings/go/configuration/Taskfile.yml
  bindings/go/configuration/go.mod
  bindings/go/configuration/go.sum
Labels: size/xs, kind/bugfix

#180 chore: fixup submodule release
  .github/workflows/release-go-submodule.yaml
Labels: kind/chore, size/s, component/github-actions

#181 chore: make the cli use the extracted configuration module
  cli/cmd/cmd.go
  cli/cmd/setup.go
  cli/configuration/v1/config.go
  cli/configuration/v1/config_test.go
  cli/configuration/v1/doc.go
  cli/configuration/v1/filter.go
  cli/configuration/v1/filter_test.go
  cli/configuration/v1/flat_map.go
  cli/configuration/v1/flat_map_test.go
  cli/configuration/v1/group_version.go
  cli/configuration/v1/ocm_config.go
  cli/configuration/v1/ocm_config_test.go
  cli/configuration/v1/testdata/.ocmconfig-1
  cli/configuration/v1/zz_generated.deepcopy.go
  cli/configuration/v1/zz_generated.ocm_type.go
  cli/go.mod
  cli/go.sum
  cli/internal/context/context.go
  cli/internal/credentials/config.go
  cli/internal/plugin/spec/config/v2alpha1/config.go
Labels: kind/chore, size/l

#182 chore: pin descriptor v2 in descriptor runtime
  bindings/go/descriptor/runtime/go.mod
  bindings/go/descriptor/runtime/go.sum
Labels: kind/chore, size/xs

#185 chore: remove flag parsing from the configuration module
  bindings/go/configuration/go.mod
  bindings/go/configuration/go.sum
  cli/cmd/cmd.go
  cli/cmd/configuration/ocm_config.go
  cli/cmd/configuration/ocm_config_test.go
  cli/cmd/configuration/testdata/.ocmconfig-1
  cli/cmd/setup.go
Labels: kind/chore, size/s

#184 fix: integration test trigger
  .github/workflows/ci.yml
Labels: size/s, component/github-actions, kind/bugfix

#186 chore: dont use default suffix, so that not setting suffix is equal to no suffix
  .github/workflows/release-go-submodule.yaml
Labels: kind/chore, size/xs, component/github-actions

#187 feat: allow creating CTFs from any fs.FS implementation
  bindings/go/ctf/cas_file_blob.go
  bindings/go/ctf/filesystem_ctf.go
  bindings/go/ctf/filesystem_ctf_test.go
  bindings/go/ctf/go.mod
  bindings/go/ctf/go.sum
  bindings/go/ctf/tar.go
Labels: kind/feature, size/m

#202 chore: Prepare docs for website
  .github/config/wordlist.txt
  Taskfile.yml
  cli/cmd/generate/docs/cmd.go
  docs/reference/cli/_index.md
  docs/reference/cli/ocm_completion.md
  docs/reference/cli/ocm_completion_bash.md
  docs/reference/cli/ocm_completion_fish.md
  docs/reference/cli/ocm_completion_powershell.md
  docs/reference/cli/ocm_completion_zsh.md
  docs/reference/cli/ocm_generate.md
  docs/reference/cli/ocm_generate_docs.md
  docs/reference/cli/ocm_get.md
  docs/reference/cli/ocm_get_component-version.md
Labels: kind/chore, size/m, component/github-actions, area/documentation, area/ipcei, component/ocm-website

#208 chore: add get local resource response
  bindings/go/plugin/internal/testplugin/main.go
  bindings/go/plugin/manager/contracts/ocmrepository/v1/contracts.go
  bindings/go/plugin/manager/contracts/ocmrepository/v1/types.go
  bindings/go/plugin/manager/manager_test.go
  bindings/go/plugin/manager/registries/componentversionrepository/endpoints_function_test.go
  bindings/go/plugin/manager/registries/componentversionrepository/handlers.go
  bindings/go/plugin/manager/registries/componentversionrepository/handlers_test.go
  bindings/go/plugin/manager/registries/componentversionrepository/implementations.go
  bindings/go/plugin/manager/registries/componentversionrepository/implementations_test.go
  bindings/go/plugin/manager/registries/componentversionrepository/registry.go
  bindings/go/plugin/manager/registries/componentversionrepository/typed_conversion.go
Labels: kind/chore, size/m
