Repository open-component-model/open-component-model, pull requests merged in 2025-04, with the labels that each got.

#46 fix!: remove grouped typings
  bindings/go/runtime/raw_test.go
  bindings/go/runtime/registry.go
  bindings/go/runtime/registry_convert_test.go
  bindings/go/runtime/registry_test.go
  bindings/go/runtime/type.go
  bindings/go/runtime/type_test.go
  bindings/go/runtime/unstructured_test.go
Labels: size/m, kind/bugfix, !BREAKING-CHANGE!

#35 feat: migrate configuration v1
  .github/workflows/ci.yml
  Taskfile.yml
  bindings/go/generator/Taskfile.yml
  cli/Taskfile.yml
  cli/configuration/v1/config.go
  cli/configuration/v1/config_test.go
  cli/configuration/v1/doc.go
  cli/configuration/v1/filter.go
  cli/configuration/v1/filter_test.go
  cli/configuration/v1/flat_map.go
  cli/configuration/v1/flat_map_test.go
  cli/configuration/v1/ocm_config.go
  cli/configuration/v1/ocm_config_test.go
  cli/configuration/v1/testdata/.ocmconfig-1
  cli/configuration/v1/zz_generated.deepcopy.go
  cli/configuration/v1/zz_generated.ocm_type.go
  cli/go.mod
  cli/go.sum
  tools.Taskfile.yml
Labels: kind/feature, component/github-actions, size/l

#47 chore: move to non-grouped types
  bindings/go/descriptor/v2/descriptor.go
  bindings/go/descriptor/v2/go.mod
  bindings/go/descriptor/v2/go.sum
  bindings/go/descriptor/v2/local_access.go
  bindings/go/descriptor/v2/local_access_test.go
  bindings/go/descriptor/v2/scheme.go
Labels: kind/chore, size/s

#49 feat: allow unknown conversions
  bindings/go/runtime/registry.go
  bindings/go/runtime/registry_convert_test.go
  bindings/go/runtime/registry_test.go
Labels: size/s, kind/feature

#48 chore: move descriptor to non-grouped type
  bindings/go/descriptor/runtime/convert_v2.go
  bindings/go/descriptor/runtime/descriptor.go
  bindings/go/descriptor/runtime/descriptor_test.go
  bindings/go/descriptor/runtime/go.mod
  bindings/go/descriptor/runtime/go.sum
  bindings/go/descriptor/runtime/local_access.go
Labels: kind/chore, size/s

#52 chore(ci): fixup cache dependency files
  .github/workflows/ci.yml
Labels: kind/chore, size/xs, component/github-actions

#50 feat: Setup the OCM CLI with Cobra and automatically generate its reference documentation
  .github/config/.markdownlint-cli2.yaml
  .github/config/markdownignore
  .github/config/markdownlint.yml
  .github/config/wordlist.txt
  .github/workflows/ci.yml
  .github/workflows/markdown.yml
  Taskfile.yml
  cli/Taskfile.yml
  cli/cmd/generate-docs.go
  cli/cmd/generate.go
  cli/cmd/root.go
  cli/go.mod
  cli/go.sum
  cli/internal/enum/flag.go
  cli/main.go
  docs/reference/cli/.markdownlint-cli2.yaml
  docs/reference/cli/ocm.md
  docs/reference/cli/ocm_completion.md
  docs/reference/cli/ocm_completion_bash.md
  docs/reference/cli/ocm_completion_fish.md
  docs/reference/cli/ocm_completion_powershell.md
  docs/reference/cli/ocm_completion_zsh.md
  docs/reference/cli/ocm_generate.md
  docs/reference/cli/ocm_generate_docs.md
Labels: kind/feature, component/github-actions, area/documentation, size/l

#54 fix: correct CTF lookup on non existing blob files and introduce an optional media type
  .github/workflows/ci.yml
  bindings/go/ctf/ctf_test.go
  bindings/go/ctf/filesystem_ctf.go
  bindings/go/ctf/filesystem_ctf_test.go
  bindings/go/ctf/go.mod
  bindings/go/ctf/go.sum
  bindings/go/ctf/index/v1/index.go
Labels: size/m, component/github-actions, kind/bugfix

#56 feat: blob copy function
  bindings/go/blob/blob.go
  bindings/go/blob/blob_io.go
  bindings/go/blob/blob_io_test.go
  bindings/go/blob/buffered_reader.go
  bindings/go/blob/doc.go
  bindings/go/blob/go.mod
  bindings/go/blob/go.sum
  bindings/go/blob/tar_test.go
Labels: kind/feature, size/m

#57 chore: optimize filesystem ctf implementation to use file size information everywhere.
  bindings/go/ctf/filesystem_ctf.go
  bindings/go/ctf/filesystem_ctf_test.go
  bindings/go/ctf/go.mod
  bindings/go/ctf/go.sum
  bindings/go/ctf/tar.go
Labels: kind/chore, size/m

#58 feat: introduce subset identity matching
  bindings/go/runtime/identity_match.go
  bindings/go/runtime/identity_match_test.go
Labels: kind/feature, size/m

#21 feat: DAG Library used by KRO adopted for OCM
  REUSE.toml
  Taskfile.yml
  bindings/go/dag/Taskfile.yml
  bindings/go/dag/dag.go
  bindings/go/dag/dag_test.go
  bindings/go/dag/go.mod
  bindings/go/dag/go.sum
Labels: kind/feature, size/l

#60 fix: cycle detection test in dag
  bindings/go/dag/dag_test.go
Labels: size/s, kind/bugfix

#61 chore: fixup dag module path
  bindings/go/dag/go.mod
Labels: kind/chore, size/xs

#62 chore: remove copyright header
  cli/main.go
Labels: kind/chore, size/xs, kind/skip-release-notes

#64 chore: fixup unstable test case because roots are not ordered by contract
  bindings/go/dag/dag_test.go
Labels: kind/chore, size/xs

#69 chore: externalize memory and resolver
  bindings/go/oci/cache/descriptor.go
  bindings/go/oci/cache/inmemory/descriptor.go
  bindings/go/oci/cache/inmemory/descriptor_test.go
  bindings/go/oci/doc.go
  bindings/go/oci/integration/integration_test.go
  bindings/go/oci/internal/memory/local_blob_memory.go
  bindings/go/oci/repository.go
  bindings/go/oci/repository_options.go
  bindings/go/oci/resolver/url/resolver.go
  bindings/go/oci/resolver/url/resolver_test.go
  bindings/go/oci/spec/store.go
Labels: kind/chore, size/m

#70 feat: setup OCIRepository
  bindings/go/oci/spec/repository/scheme.go
  bindings/go/oci/spec/repository/v1/group_version.go
  bindings/go/oci/spec/repository/v1/ocirepository.go
  bindings/go/oci/spec/repository/v1/zz_generated.deepcopy.go
  bindings/go/oci/spec/repository/v1/zz_generated.ocm_type.go
Labels: kind/feature, size/m

#74 fix: ensure that for single layer artifacts, we fetch the blob directly
  bindings/go/oci/integration/integration_test.go
  bindings/go/oci/internal/fetch/fetch.go
  bindings/go/oci/internal/fetch/fetch_test.go
  bindings/go/oci/internal/pack/pack.go
  bindings/go/oci/repository.go
  bindings/go/oci/repository_test.go
  bindings/go/oci/store_descriptor.go
Labels: kind/bugfix, size/l

#75 fix: defaulting of types and decoding
  bindings/go/runtime/registry.go
  bindings/go/runtime/registry_test.go
Labels: size/m, kind/bugfix

#66 feat: credential graphs
  .gitignore
  REUSE.toml
  Taskfile.yml
  bindings/go/credentials/Taskfile.yml
  bindings/go/credentials/doc.go
  bindings/go/credentials/go.mod
  bindings/go/credentials/go.sum
  bindings/go/credentials/graph.go
  bindings/go/credentials/graph_bench_test.go
  bindings/go/credentials/graph_test.go
  bindings/go/credentials/ingest.go
  bindings/go/credentials/plugins.go
  bindings/go/credentials/resolve_direct.go
  bindings/go/credentials/resolve_indirect.go
  bindings/go/credentials/spec/config/runtime/config.go
  bindings/go/credentials/spec/config/runtime/convert_v1.go
  bindings/go/credentials/spec/config/runtime/doc.go
  bindings/go/credentials/spec/config/runtime/merge.go
  bindings/go/credentials/spec/config/runtime/zz_generated.deepcopy.go
  bindings/go/credentials/spec/config/runtime/zz_generated.ocm_type.go
  bindings/go/credentials/spec/config/v1/config.go
  bindings/go/credentials/spec/config/v1/direct_credentials.go
  bindings/go/credentials/spec/config/v1/zz_generated.deepcopy.go
  bindings/go/credentials/spec/config/v1/zz_generated.ocm_type.go
  bindings/go/credentials/synced_dag.go
Labels: kind/feature, size/l

#79 fix: oci dependencies and repository options
  bindings/go/oci/go.mod
  bindings/go/oci/go.sum
  bindings/go/oci/integration/go.mod
  bindings/go/oci/integration/go.sum
  bindings/go/oci/repository.go
  bindings/go/oci/repository_options.go
Labels: size/s, kind/bugfix

#80 fix: make sure that manifests are discovered always and set global access
  bindings/go/oci/ctf/store.go
  bindings/go/oci/internal/introspection/manifest.go
  bindings/go/oci/internal/introspection/manifest_test.go
  bindings/go/oci/internal/pack/pack.go
  bindings/go/oci/internal/pack/pack_test.go
  bindings/go/oci/repository.go
  bindings/go/oci/tar/oci_layout_tar_writer.go
  bindings/go/oci/tar/oci_layout_tar_writer_test.go
Labels: size/m, kind/bugfix

#81 feat: add JSON schema generator to runtime package
  bindings/go/runtime/go.mod
  bindings/go/runtime/go.sum
  bindings/go/runtime/json_schema_generator.go
  bindings/go/runtime/json_schema_generator_test.go
Labels: kind/feature, size/m

#84 feat: introduce oci / ctf repository specifications and constructors
  bindings/go/oci/go.mod
  bindings/go/oci/go.sum
  bindings/go/oci/repository/doc.go
  bindings/go/oci/repository/repository.go
  bindings/go/oci/repository/repository_test.go
  bindings/go/oci/spec/repository/scheme.go
  bindings/go/oci/spec/repository/v1/ctf/group_version.go
  bindings/go/oci/spec/repository/v1/ctf/repository.go
  bindings/go/oci/spec/repository/v1/ctf/repository_test.go
  bindings/go/oci/spec/repository/v1/ctf/zz_generated.deepcopy.go
  bindings/go/oci/spec/repository/v1/ctf/zz_generated.ocm_type.go
  bindings/go/oci/spec/repository/v1/oci/group_version.go
  bindings/go/oci/spec/repository/v1/oci/repository.go
  bindings/go/oci/spec/repository/v1/oci/zz_generated.deepcopy.go
  bindings/go/oci/spec/repository/v1/oci/zz_generated.ocm_type.go
Labels: kind/feature, size/l

#83 feat: logging flags for configurable logging in the CLI
  cli/cmd/generate-docs.go
  cli/cmd/generate.go
  cli/cmd/root.go
  cli/internal/enum/flag.go
  cli/log/flag.go
  cli/log/flag_test.go
  docs/reference/cli/ocm.md
  docs/reference/cli/ocm_completion.md
  docs/reference/cli/ocm_completion_bash.md
  docs/reference/cli/ocm_completion_fish.md
  docs/reference/cli/ocm_completion_powershell.md
  docs/reference/cli/ocm_completion_zsh.md
  docs/reference/cli/ocm_generate.md
  docs/reference/cli/ocm_generate_docs.md
Labels: kind/feature, area/documentation, size/l

#85 chore: fixup integration tests
  bindings/go/oci/integration/go.mod
  bindings/go/oci/integration/go.sum
Labels: kind/chore, size/s
